certificates/*.pem
certificates/*.p12
certificates/*.jks


Microcontroller/code/\.out/

Microcontroller/code/\.vscode/

Microcontroller/Builds\.txt

Microcontroller/code/scripts/*.bin

Microcontroller/code/data/*

Microcontroller/code/scripts\.bin

ApplicationServer/out/

ApplicationServer/cfg/properties\.properties

ApplicationServer/cfg/rafl\.cf\.jks

ApplicationServer/\.idea/

HttpSuite/out/

HttpSuite/\.idea/

HttpSuite/res/

Microcontroller/\.vs/

AndroidApp/.idea/dictionaries/
